1.What are data structures, and why are they important?
answer:
Data structures are ways to organize and store data. They're important because they make it easier to manage, access, and work with data efficiently.

2.Explain the difference between mutable and immutable data types with examples.
answer:
Mutable types can be changed after creation (like lists), while immutable types can't (like strings or tuples).
Example:
my_list = [1, 2]  # mutable  
my_str = "hello"  # immutable

3.What are the main differences between lists and tuples in Python?
answer:
Lists are mutable and use square brackets []. Tuples are immutable and use parentheses (). Lists can be changed; tuples can't.

4.Describe how dictionaries store data.
answer:
Lists are mutable and use square brackets []. Tuples are immutable and use parentheses (). Lists can be changed; tuples can't.

5.Why might you use a set instead of a list in Python?
answer:
Sets automatically remove duplicates and are faster for checking if an item exists. They’re useful when you only need unique values.

6.What is a string in Python, and how is it different from a list?
answer:
A string is a sequence of characters and is immutable. A list can hold different types of items and can be changed.

7.How do tuples ensure data integrity in Python?
answer:
Tuples are immutable, so once created, their values can’t change. This protects the data from accidental modification.

8.What is a hash table, and how does it relate to dictionaries in Python?
answer:
A hash table stores data using a key and its hash. Python dictionaries are built using hash tables for fast access.


9.Can lists contain different data types in Python?
answer:
Yes, Python lists can hold different types like integers, strings, and even other lists all in one.

10. Explain why strings are immutable in Python.
Answer:
Strings are immutable to make them safer and more efficient, especially when used in loops or as keys in dictionaries.

11.What advantages do dictionaries offer over lists for certain tasks?
Answer:
Dictionaries let you access values using keys, which is faster and more organized than searching through a list.

12.Describe a scenario where using a tuple would be preferable over a list.
Answer:
Use a tuple when the data shouldn't change, like storing coordinates (x, y) or days of the week.

13.How do sets handle duplicate values in Python?
Answer:
Sets automatically remove duplicates, so only unique values are kept.

14.How does the “in” keyword work differently for lists and dictionaries?
Answer:
In a list, it checks for the value. In a dictionary, it checks for the key.

15.Can you modify the elements of a tuple? Explain why or why not.
Answer:
No, you can’t. Tuples are immutable, which means their contents can't be changed after creation.


16.What is a nested dictionary, and give an example of its use case?
Answer:
A nested dictionary is a dictionary inside another dictionary.
Example use case: storing student data like students = {"John": {"age": 20, "grade": "A"}}.

17. Describe the time complexity of accessing elements in a dictionary.
Answer:
Accessing elements in a dictionary is on average O(1) — very fast.

18.In what situations are lists preferred over dictionaries?
Answer:
Lists are better when you only need to store items in order and don't need key-value pairs.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
Answer:
They were unordered before Python 3.7. Now they keep insertion order, but you still access data by key, not position.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
Answer:
Lists use index numbers to get items; dictionaries use keys, which makes lookup faster and more meaningful.

Practical questions:

In [1]:
#1.Write a code to create a string with your name and print it
name = "Abdullah"
print(name)

Abdullah

In [2]:
#2.Write a code to find the length of the string "Hello World".
text = "Hello World"
print(len(text))

11

In [3]:
#3.Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
print(text[:3])

Pyt

In [5]:
#4.Write a code to convert the string "hello" to uppercase.
text = "hello"
print(text.upper())

HELLO

In [4]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [6]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [8]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [9]:
#9.P Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [10]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
print(numbers[::-1])

[50, 40, 30, 20, 10]

In [11]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [12]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [13]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [14]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [15]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)

False

In [16]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
letters = {'a', 'b', 'c'}
print(letters)

{'c', 'b', 'a'}

In [17]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [18]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [19]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [20]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [24]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "Abdullah", "age": 25, "city": "mumbai"}
print(person)

{'name': 'Abdullah', 'age': 25, 'city': 'mumbai'}

In [23]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [27]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

In [28]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

In [29]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [30]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [31]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[46, 53, 67, 88, 91]

In [32]:
#28. Write a code to create a list with strings and print the element at the third index.
fruits = ["apple", "banana", "orange", "grape", "kiwi"]
print(fruits[2])

orange

In [33]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [34]:
#30. Write a code to convert a list of strings into a set.
fruits = ["apple", "banana", "orange", "apple", "banana"]
print(set(fruits))

{'banana', 'orange', 'apple'}